[Unit]
Description=Gunicorn Daemon for FastAPI todo Application
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/todoapi
ExecStart=/home/admin/todoapi/venv/bin/gunicorn -c gunicorn_conf.py main:api

[Install]
WantedBy=multi-user.target
